{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row containerIndex">
		{% for link in links %}
			<div class="col-md-4 boxIndex">
				<div class="title">
			    	<h2><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
				</div>
				<div class="description">
			    	<p>{{ link.desc }}</p>
				</div>
				<div class="link">
			    	<a class="btn-lien" href="{{ link.url }}" title="" target="_blank">Open Website ></a>
				</div>
				<div class="filter">
					{% for tag in link.tags %}
						<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
							{{ tag.title }},
						</a>
					{% endfor %}
				</div>
				<div class="author">
			    	<em>(by {{ link.user.username }})</em>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
